@font-face {
  font-family: GlacialIndifference;
  src: url("../public/fonts/glacial-indifference.regular.otf");
}

* {
  font-family: GlacialIndifference;
  color: #000000;
  overflow-x: hidden;
}

body {
  background-color: #f0f8ff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left-faded{
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
}

.section-header{
  font-size: 3rem;
  font-weight: bold;
}

.section-card-header{
  height: 80px;
}

.transparent-image{
    opacity: 0.5;
}

.letter-t{
  color: #4665A0;
  opacity: 75;
}